lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp
var

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# Allow sample export files
!samples/*-export.csv

# Ignore Trading 212 export files (by default name: from_date_to_date_acc.csv)
from_*.csv

# Ignore DEGIRO export files (by default name: Account.csv)
Account*.csv

# Ignore Finpension export files
Finpension.csv

# Ignore PDF's
*.pdf

# Ignore export file
ghostfolio-*.json

# Ignore output folder
e2g-output

# Ignore uploads
uploads

# Ignore nuxt files (frontend)
.nuxt
.output