lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Coverage reports
coverage

# API keys and secrets
.env

# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# ignore package-lock
package-lock.json

# Allow sample export file
!sample-t212-export.csv

# Ignore Trading 212 export files (by default name: from_date_to_date_acc.csv)
from_*.csv

# Ignore export file
ghostfolio-t212.json
